table {
  border-collapse: collapse;
  border-bottom: 1px solid gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}
th {
  border-bottom: 1px solid gray;
  background: none repeat scroll 0 0 #0775d3;
  padding: 10px;
  color: #fff;
}
tr {
  border-top: 1px solid gray;
  text-align: center;
}
tr:nth-child(even) {
  background: #ffffff;
}
tr:nth-child(odd) {
  background: #bbbbbb;
}


.bnt-add{
  color: white !important;
  background-color: #0775d3 !important;
  padding: 8px;
  width: 100px;
  height: 70px;
}